---
import HeadingText from "./HeadingText.astro";
---

<section class="my-24">
    <HeadingText
        title="¿Trabajamos juntos?"
        subtitle="Mándame un email con lo que necesitas y lo más pronto posible me pondre en contacto con usted."
    />

    <div class="mt-10 flex justify-center">
        <a
            href="mailto:danielcastillobalboa@gmail.com"
            class="text-secondary border w-full px-20 text-center md:w-auto lg:px-28 py-4 text-lg font-semibold rounded-2xl border-secondary hover:text-gray-950 hover:bg-secondary transition-colors duration-100"
            >Contactarme</a
        >
    </div>
</section>
