---
import Lenguage from "./icons/Lenguage.astro";
import Download from "./icons/Download.astro";
import Logo from "./Logo.astro";
---

<header
    class="w-full overflow-x-hidden h-[5rem] flex justify-center bg-opacity-70 fixed top-0 left-0 z-10 backdrop-blur-lg subpixel-antialiased"
>
    <nav
        class="flex justify-between items-center w-full max-w-[1280px] mx-auto py-5 px-5"
    >
        <div>
            <Logo />
        </div>
        <div class="flex items-center gap-5">
            <Lenguage class="text-white size-6" />
            <a
                href="/cv/cvSpanish.pdf"
                target="_blank"
                class="bg-white px-4 py-2 rounded-full flex items-center gap-2 hover:scale-105 transition font-semibold"
            >
                <Download class="size-4" />
                Dowload CV
            </a>
        </div>
    </nav>
</header>
