---
import HeadingText from "./HeadingText.astro";
---

<section class="my-20">
    <HeadingText
        title="Proyectos"
        subtitle="Algunos de los proyectos en los que he trabajado"
    />
</section>
