<a
    href={Astro.props.href}
    target="_blank"
    rel="norefered"
    class="bg-white px-3 py-2 sm:px-2 sm:py-1 rounded-lg text-black flex gap-2 items-center hover:scale-110 transition"
>
    <slot />
</a>
