---
import HeadingText from "./HeadingText.astro";
import MarqueeSection from "./MarqueeSection.astro";
---

<section class="my-20">
    <HeadingText
        title="Tecnologías"
        subtitle="Algunas de las tecnologías que he utilizado"
    />
    <MarqueeSection />
</section>
