---
import HeadingText from "../HeadingText.astro";
---

<section class="my-24">
    <HeadingText
        title="Shall we work together?"
        subtitle="Send me an email with what you need, and I'll get back to you as soon as possible."
    />

    <div class="mt-10 flex justify-center">
        <a
            href="mailto:danielcastillobalboa@gmail.com"
            class="text-secondary border w-full px-20 text-center md:w-auto lg:px-28 py-4 text-lg font-semibold rounded-2xl border-secondary hover:text-gray-950 hover:bg-secondary transition-colors duration-100"
            >Contact me</a
        >
    </div>
</section>
