---
import HeadingText from "../HeadingText.astro";
import MarqueeSection from "../MarqueeSection.astro";
---

<section class="my-20">
    <HeadingText
        title="Technologies"
        subtitle="Some of the technologies that I have used..."
    />
    <MarqueeSection />
</section>
